/*-----------------------------CONFIGS---------------------------------*/
@import "footer.css";
html, body {

    font-family: IRANSansWeb;
}

img {
    vertical-align: middle;
}

/*-----------------------------CUSTOM CLASSES---------------------------------*/

.right {
    float: right;
}

.left {
    float: left;
}

.chicoClearFix {
    clear: both;
}

.chicoWhite {
    background-color: #fdfdfd;
}

.h100 {
    height: 100vh !important;
}

.w100 {
    width: 100vw !important;
}

.chicoNavbar {
    height: 3.7rem;
    box-sizing: border-box;
    box-shadow: 0 0.1rem .8rem rgba(0, 0, 0, 0.21);
    position: fixed;
    top: 0;
    z-index: 10000000;
    width: 100vw;
}

.chicoSlider {

    /*margin-top: 4.5rem !important;*/
    background-size: cover;
    background-position: center;

}
.chicoLight {
    background-color: #f7fafc;
}
.bg-trans{
    background-color:rgba(248,251,255,0.5) !important;
}

.chicoTrial {
    position: fixed !important;
    bottom: 0;
    width: 100vw;
    height: 3rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin: 0;
    z-index: 1000000000000000;
    background: linear-gradient(270deg, #caa50e, #e33030, #30e376);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

}

.chicoSearchContainer {
    position: relative;
}
.chicoSearchContainer span {
    position: absolute;
    left: 0.5rem;
    top: .7rem;
    color: #2e3133;

    font-size: 1.8rem;
}
#newLetterContainer #newLetterInput{
    border: none;
    border-radius: 100rem;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, .21);
    height: 3rem;
    padding: .78rem;

}
#newLetterContainer {
    position: relative;
    margin: auto;
    width: 40rem;
}
#newLetterContainer #inputAddOn {
    border: none;
    border-bottom-left-radius: 100rem;
    border-top-left-radius: 100rem;
    position: absolute;
    left: 0;
    height: 3rem;
    padding:.78rem;
    z-index: 10000;
    background-color: #606264;
    color: white;
    cursor: pointer;
    width: 3rem;
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
    box-sizing: border-box;
}
#newLetterContainer #inputAddOn:hover{
    background-color: #1b1e21;
    transition: 1s ease;
}
#newLetterContainer #newLetterInput:focus{
    outline: none;
}
.chicoText{
    text-shadow: 1px 2px 2px rgba(0,0,0,.5);
}
.chicoBlue{
    background-color: #1e0f3c!important;
}
.chicoTextBlue{
    color: #1e0f3c!important;
}

/*-----------------------------FUNCTIONALITY---------------------------------*/

.chicoNavbar a {
    color: #1b1e21 !important;
}

.chicoNavbar span a {
    padding: .7rem;
    font-size: 1rem;
    text-decoration: none;

}
.chicoNavbar .container a.chicologo {
    text-decoration: none;
    font-size: 2rem;
}

.chicoNavbar span a:hover {
    border-bottom: .4rem solid #4b4b4b;
    transition: 250ms ease;

}


.chicoSlider {
    overflow: hidden;
}

.chicoSlider input {
    border: none;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .3rem;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, .21);
    font-size: .9rem;

}

.chicoSlider input:focus {
    border: none;
    box-shadow: 0rem 0rem 999px rgb(255, 0, 0);
    outline-width: 0;
    transition: box-shadow 1s ease-in-out;

}
.orderContainer  {
    direction: rtl;
    font-family: IRANSansWeb;

}
.orderContainer h2 {
    font-weight: 900;
}
.orderContainer p {
    font-size: 1.5rem;
    font-weight: 500;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.chicoNewsLetter input:focus{
    outline: none;

}


/*-----------------------------MEDIAS---------------------------------*/




@media (max-width: 576px) {
    .card {
        border-radius: 0;
    }
}

